<h1>{|$translate_remind_password|}</h1>

<div class="def-block-crumbs">
    <div class="item def-icon-home">
        <a href="/">{|$translate_main|}</a>
    </div>
    <div class="item def-icon-angle-right">
        {|$translate_remind_password|}
    </div>
</div>

{|if $message == 'ok'|}
    <div class="def-message-success">
        {|$translate_remind_password_success|}.
    </div>
{|/if|}

{|if $message == 'error'|}
    {|if $errors == 'login_empty'|}
        <div class="def-message-error">
            {|$translate_enter_data|}.
        </div>
    {|else|}
        <div class="def-message-error">
            {|$translate_remind_password_error|}.
        </div>
    {|/if|}
{|/if|}

{|if $message != 'ok'|}
    <form class="def-block-form centered-form" method="post">
        <table>
            <tr>
                <td>{|$translate_login_or_mail|}:</td>
                <td><input type="text" name="login" value="{|$control_login|}" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input class="def-submit" type="submit" name="ok" value="{|$translate_restore_password|}" />
                    <input type="hidden" name="ajs" class="ajs" value="1" />
                </td>
            </tr>
        </table>
    </form>
{|/if|}