{|foreach from=$paymentArray item="e"|}
    <div class="shop-block-terms">
        <div class="element">
            <div class="head">
                <div><h2>{|$e.name|}</h2></div>

            </div>
            <div class="body">
                {|if $e.image|}
                    <div class="iamge"><img src="{|$e.image|}" alt="{|$e.name|}" title="{|$e.name|}" /></div>
                {|/if|}

                <div class="description">
                    {|if $e.description|}
                        {|$e.description|}
                    {|/if|}
                </div>
            </div>
        </div>
    </div>
{|/foreach|}