<input type="hidden" id="productPage" value="{|$productID|}">

{|if $message == "commentok"|}
    <div class="os-message-success">
        {|$translate_testimonials_success|}.
    </div>
{|/if|}

{|if $message == "commenterror"|}
    <div class="os-message-error">
        {|$translate_testimonials_error|}.
    </div>
{|/if|}

<div class="os-crumbs">
    {|if $pathArray|}
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" itemprop="url">
                <span itemprop="title">{|$storeTitle|}</span>
            </a>
        </div>
    {|/if|}
    {|foreach from=$pathArray item="e"|}
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{|$e.url|}" itemprop="url">
                <span itemprop="title">{|$e.name|}</span>
            </a>
        </div>
    {|/foreach|}
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{|$url|}" itemprop="url">
            <span itemprop="title">{|$name|}</span>
        </a>
    </div>
</div>

<div class="os-product-view" itemscope itemtype="http://schema.org/Product">
    <h1 itemprop="name">{|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h1>
    {|if $imagesArray|}
        <div class="os-block-productimage js-productimage-block">
            <div class="line">
                <ul>
                    {|foreach from=$imagesArray item="e" key=k|}
                        <li>
                            <a href="{|$e.originalUrl|}" class="colorbox" title="{|$name|}"><img itemprop="image" src="{|$e.cropUrl|}" alt="{|$name|escape|}" title="{|$name|escape|}" /></a>
                        </li>
                    {|/foreach|}
                </ul>
            </div>

            {|if $rating > 0|}
                <div class="os-block-rating" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
                    <div class="inner" itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" style="width: {|$rating*20|}%;">
                        <em itemprop="average">{|$rating|}</em>
                        <em itemprop="best">5</em>
                        <em itemprop="count">{|$ratingCount|}</em>
                    </div>
                </div>
            {|/if|}

            {|if count($imagesArray) > 1|}
                <div class="control">
                    <ul>
                        {|foreach from=$imagesArray item="e"|}
                            <li>
                                <a href="#">
                                    <img src="{|$e.cropUrl|}" alt="{|$name|escape|}" title="{|$name|escape|}" />
                                </a>
                            </li>
                        {|/foreach|}
                    </ul>
                </div>

                <script type="text/javascript">
                    $j(function() {
                        $j('.js-productimage-block .line').jCarouselLite({
                            speed: 500,
                            visible: 1,
                            btnGo: $j('.js-productimage-block .control li'),
                            activeClass: 'selected',
                            circular: false
                        });
                    });
                </script>
            {|/if|}
        </div>
    {|/if|}

    <div class="os-block-productcontent {|if !$imagesArray|}noimg{|/if|}">
        {|if $descriptionshort|}
            <div class="main-description" itemprop="description">{|$descriptionshort|}</div>
        {|/if|}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <form method="post" id="id-order">
                <div class="block-price">
                    {|if $price == 0|}
                        <div class="os-price-specify " itemprop="priceSpecification">{|$translate_specify_a_price|}</div>
                        <input type="hidden" id="canAddMarkup" value="">
                    {|else|}
                        {|if !$avail|}
                            <div class="os-price-unavailable">
                                <span itemprop="price" id="priceSpan">{|$price|}</span>
                                <span itemprop="priceCurrency">{|$currency|}</span>
                            </div>
                        {|else|}
                            <div class="os-price-available">
                                <span itemprop="price" id="priceSpan">{|$price|}</span>
                                <span itemprop="priceCurrency">{|$currency|}</span>
                            </div>
                        {|/if|}

                        <div class="js_personal_discount_check" data-productid="{|$id|}"></div>

                        <input type="hidden" id="canAddMarkup" value="{|$price|}">
                    {|/if|}
                    {|if ($discount && $avail && !$canMakePreorder) || ($discount && $canMakePreorder && !$avail)  |}
                        <div class="os-discount">-{|$discount|}%</div>
                        <input type="hidden" id="dataDiscount" value="{|$discount|}">
                    {|/if|}
                    {|if $priceold AND $priceold > $price|}
                        <div class="os-price-old">
                            {|$priceold|} {|$currency|}
                        </div>
                    {|/if|}
                    <div class="clear"></div>
                </div>

                {|if $iconImage|}
                    <div class="icon-block-image">
                        {|if $iconURL|}
                            <div class="part image">
                                <a href="{|$iconURL|}"><img src="{|$iconImage|}" alt="{|$iconName|escape|}" title="{|$iconName|escape|}" /></a>
                            </div>
                            <div class="part">
                                <a href="{|$iconURL|}"><strong>{|$iconName|}</strong></a>
                            </div>
                        {|else|}
                            <div class="part image">
                                <img src="{|$iconImage|}" alt="{|$iconName|escape|}" title="{|$iconName|escape|}" />
                            </div>
                            <div class="part">
                                <strong>{|$iconName|}</strong>
                            </div>
                        {|/if|}
                    </div>
                {|/if|}

                <div class="code">
                    <div class="inner-code">
                        {|if $code|}
                            {|$translate_item_code|}: <span itemprop="mpn">{|$code|}</span><br />
                        {|/if|}
                        {|if $barcode|}
                            {|$translate_item_barcode|}: <span itemprop="gtin13">{|$barcode|}</span><br />
                        {|/if|}
                    </div>
                </div>
                <div class="clear"></div>

                <div class="avail">
                    {|if $avail|}
                        {|if $availtext|}
                            <div class="os-available" itemprop="availability">{|$availtext|}</div>
                        {|else|}
                            <div class="os-available">{|$translate_v_nalichii|}</div>
                        {|/if|}
                    {|else|}
                        {|if $availtext|}
                            <div class="os-unavailable" itemprop="availability">{|$availtext|}</div>
                        {|else|}
                            <div class="os-unavailable">{|$translate_net_v_nalichii|}</div>
                        {|/if|}
                    {|/if|}
                </div>

                {|if $canbuy or $canMakePreorder|}
                    <div class="block-button">
                        <input type="text" value="{|$count|}" name="count" class="count js-shop-buy-count" />

                        {|* кнопка покупки *|}
                        <div class="js-shop-buy" data-productid="{|$id|}">
                            <a href="#" class="js-shop-buy-action os-submit green">{|$translate_to_basket|}</a>
                        </div>
                    </div>

                    <div class="block-button">
                        <a class="os-submit light" href="javascript: void(0);" onclick="basket_order_quick('{|$productID|}', '{|$nameQuick|}');">{|$translate_buy_quick|}</a>
                    </div>
                {|/if|}

                {|if $noticeOfAvailability|}
                    <div class="block-button double">
                        <a class="os-submit" href="javascript: void(0);"onclick= "{|if !$emailAndAuthorized|}popupOpen('#id-notice-of-availability');{|else|}productsNoticeOfAvailability();{|/if|}">
                        {|$translate_notice_of_availability|}</a><br />
                    </div>

                    {|if $sameModelProductArray|}
                        <div class="clear"></div>
                        <div class="os-recomended-list">
                            {|foreach from=$sameModelProductArray item="r"|}
                                <div class="os-recomended-element">
                                    <div class="recomended-wrap">
                                        <div class="block-image">
                                            <a href="{|$r.url|}" target="_blank">
                                                <img src="{|$r.image|}" alt="{|$r.name|}" title="{|$r.name|}">
                                            </a>
                                        </div>
                                        <div class="block-name">
                                            <a href="{|$r.url|}" target="_blank">{|$r.name|}</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="block-button">
                                            {|if $r.price > 0|}
                                                <div class="os-price-available">
                                                    <span itemprop="price">{|$r.price|}</span>
                                                    <span itemprop="priceCurrency">{|$currency|}</span>
                                                </div>
                                            {|else|}
                                                <div class="os-price-specify" itemprop="priceSpecification">{|$translate_specify_a_price|}</div>
                                            {|/if|}
                                        </div>
                                    </div>
                                </div>
                            {|/foreach|}
                        </div>
                    {|/if|}
                {|/if|}

                <div class="block-links">
                    {|if $foundcheaper|}
                        <a class="os-link-dashed" href="javascript: void(0);" onclick="popupOpen('.js-block-cheaper');">{|$translate_found_cheaper|}?</a><br />
                    {|/if|}
                    <div class="js-shop-compare" data-productid="{|$id|}">
                        <a href="javascript:void(0);" class="os-link-dashed js-shop-compare-action">{|$translate_shop_compare_action|}</a>
                        <a href="/compare/" class="js-shop-compared" style="display: none;">{|$translate_compared|}</a>
                        <br /><a href="javascript:void(0);" data-productid="{|$id|}" class="os-link-dashed js-shop-favorite" ></a>
                    </div>
                </div>
                <div class="clear"></div>

                {|if $seriesArray|@count > 1|}
                    <div class="block-gotomodel">
                        <div class="caption">{|$translate_model_line|}</div>
                        <select id="js-go-to-model">
                            <option value="" selected>---</option>
                            {|foreach from=$seriesArray item="e"|}
                                <option value="{|$e.url|}">{|$e.name|}</option>
                            {|/foreach|}
                        </select>
                    </div>

                    <script>
                        $j(function(){
                            // bind change event to select, and go to selected model
                            $j('#js-go-to-model').bind('change', function () {
                                var url = $j(this).val();
                                if (url) {
                                    window.location = url;
                                }
                                return false;
                            });
                        });
                    </script>
                {|/if|}

                {|if $optionArray|}
                    <div class="os-options-list">
                        <div class="head">{|$translate_order_options|}</div>
                        <div class="body">
                            {|foreach from=$optionArray item="e"|}
                                <select name="option-{|$e.id|}" class="js-shop-buy-option" data-optionid="{|$e.id|}">
                                    <option value="">{|$translate_select_the|} {|$e.name|}</option>
                                    {|foreach from=$e.valueArray item="v"|}
                                        <option value="{|$v[0]|escape|}">{|$v[0]|}</option>
                                    {|/foreach|}
                                </select>
                                {|foreach from=$e.valueArray item="v"|}
                                    <input type="hidden" id="option{|$e.id|}hidden{|$v[2]|}" value="{|$v[1]|}"/>
                                {|/foreach|}
                            {|/foreach|}
                         </div>
                    </div>
                {|/if|}
            </form>
        </div>

        <div class="block-brand">
            {|if $brand|}
                {|$translate_brand|}:
                <a href="{|$brand.url|}" itemprop="brand">
                    {|$brand.name|}
                    {|if $brand.image|}
                        <img itemprop="logo" src="{|$brand.image|}" alt="{|$brand.name|escape|}" title="{|$brand.name|escape|}" />
                    {|/if|}
                </a>
                <br />
            {|/if|}

            {|if $model|}
                {|$translate_model|}: <strong itemprop="model">{|$model|}</strong>
                <br />
            {|/if|}
        </div>

        {|if $share|}
            <div class="product-share">
                <div class="caption">{|$translate_action|}!</div>
                {|$share|}
            </div>
        {|/if|}

        {|if $siteurl|}
            <div class="siteurl">
                <a href="{|$siteurl|}">{|$translate_site_url|}</a>
            </div>
        {|/if|}

        {|if $showSocial|}
            <div class="social">
                <noindex>
                    {|$translate_social_block|}:
                    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div>
                </noindex>
            </div>
        {|/if|}
    </div>
    <div class="clear"></div>

    {|if $supplierArray || $storageArray|}
        <div class="os-block-productfeatures" style="border: 1px solid blue;">
            {|if $storageArray|}
                <table>
                    <thead>
                    <tr>
                        <td>{|$translate_storage|}</td>
                        <td>{|$translate_arrival_date|}</td>
                        <td>{|$translate_price_in_stock|}</td>
                        <td>{|$translate_number|}</td>
                    </tr>
                    </thead>
                    {|foreach from=$storageArray item="s"|}
                        <tr>
                            <td>{|$s.name|}</td>
                            <td>{|$s.cdate|}</td>
                            <td>{|$s.price|} {|$s.currency|}</td>
                            <td>{|$s.count|}</td>
                        </tr>
                    {|/foreach|}
                </table>
                <br />
            {|/if|}

            {|if $supplierArray|}
                <table>
                    <thead>
                        <tr>
                            <td>{|$translate_supplier|}</td>
                            <td>{|$translate_supplier_code|}</td>
                            <td>{|$translate_supplier_price|}</td>
                            <td>{|$translate_supplier_avail|}</td>
                        </tr>
                    </thead>
                    {|foreach from=$supplierArray item="e" key="index"|}
                        <tr>
                            <td> {|$e.supplierName|}</td>
                            <td>{|$e.supplierCode|}</td>
                            <td align="right">{|$e.supplierPrice|}</td>
                            <td>
                                {|if $e.supplierAvail|}
                                    {|$translate_available|}
                                    {|$e.supplierDate|}
                                {|else|}
                                    {|$translate_out_of_stock|}
                                {|/if|}
                            </td>
                        </tr>
                    {|/foreach|}
                </table>
            {|/if|}
        </div>
    {|/if|}

    {|if $urledit|}
        <div class="admin-edit">
            <a class="os-submit red edit" href="{|$urledit|}" target="_blank" title="{|$translate_edit|}"></a>
        </div>
    {|/if|}
</div>

{|if $actionSetArray|}
    <div class="os-productaction-carousel js-action-carousel">
        {|foreach from=$actionSetArray item = actionset|}
            <div>
                <div class="os-block-caption">
                    {|$translate_rekomenduem_kupit_komplekt_tovarov|}:
                </div>
                <div class="line">
                    {|foreach from=$actionset.productArray item = p|}
                        <div class="product-element">
                            <div class="image">
                                <a target="_blank" href="{|$p.url|}">
                                    <img src="{|$p.image|}">
                                </a>
                            </div>
                            <div class="name">
                                <a href="{|$p.url|}">
                                    {|$p.name|}
                                </a>
                            </div>
                        </div>
                    {|/foreach|}
                </div>
                <div class="block-buy">
                    {|$translate_tsena_dannogo_nabora|}:
                    <span class="os-price-available">{|$actionset.sum|} {|$currency|}</span>
                    {|if $canbuy|}
                        <div class="block-button">
                            {|*|}
                            <input type="text" value="{|$count|}" name="count" class="count js-shop-buy-count" />
                            {|*|}

                            {|* кнопка покупки *|}
                            <div class="js-shop-buy" data-setid="{|$actionset.id|}">
                                <a href="#" class="js-shop-buy-action os-submit green">{|$translate_to_basket|}</a>
                            </div>
                        </div>
                    {|/if|}
                    <div class="clear"></div>
                </div>
            </div>
        {|/foreach|}
    </div>
{|/if|}





{|if $description || $width || $length || $height || $weight || $characteristicsArray || $characteristics || $seriesArray || $commentIntegration || $commentsArray || $allowcomment || $productnewsArray |}
    <div class="os-block-tabs product-tabs js-product-tabs">
        {|if $description || $width || $length || $height || $weight |}
            <a href="#" data-nav="js-description-block">{|$translate_item_info|}</a>
        {|/if|}
        {|if $videoArray|}
            <a href="#" data-nav="js-video-block">{|$translate_video|}</a>
        {|/if|}
        {|if $characteristicsArray OR $characteristics|}
            <a href="#" data-nav="js-features-block">{|$translate_features|}</a>
        {|/if|}
        {|if $seriesArray|@count > 1|}
            <a href="#" data-nav="js-series-block">{|$translate_model_line|}</a>
        {|/if|}
        {|if $commentIntegration|}
            <a href="#" data-nav="js-comments-block">{|$translate_many_comments|}</a>
        {|/if|}
        {|if $commentsArray || $allowcomment|}
            <a href="#" data-nav="js-feedback-block">{|$translate_comments|}{|if $commentsArray|}: {|$commentsArray|@count|}{|/if|}</a>
        {|/if|}
        {|if $productnewsArray|}
            <a href="#" data-nav="js-block-news">{|$translate_news_simple|}</a>
        {|/if|}
        <div class="clear"></div>
    </div>
    <div class="os-tabs-place js-product-tabs-place" style="display: none;"></div>
{|/if|}
{|if $description || $width || $length || $height || $weight |}
    <h2 class="js-description-block">{|$translate_item_info|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    <div class="os-block-productdescription">
        <div class="os-editor-content js-ckEditor-container">
            {|$description|}
        </div>

        {|*параметры товара (длина, ширина, высота, вес)*|}
        {|if $width!=0|}
            <br/>{|$translate_width|}: <span itemprop="width">{|$width|}</span>
        {|/if|}
        {|if $height!=0|}
            <br/>{|$translate_height|}: <span itemprop="height">{|$height|}</span>
        {|/if|}
        {|if $length!=0|}
            <br/>{|$translate_length|}: {|$length|}
        {|/if|}
        {|if $weight!=0|}
            <br/>{|$translate_weight|}: <span itemprop="weight">{|$weight|}</span>
        {|/if|}
    </div>
{|/if|}

{|if $videoArray|}
    <h2 class="js-video-block">{|$translate_video|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    <div class="os-block-productdescription">
        {|foreach from=$videoArray item=v|}
            {|$v|} <br />
        {|/foreach|}
    </div>
{|/if|}

{|if $characteristicsArray OR $characteristics|}
    <h2 class="js-features-block">{|$translate_features|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    <div class="os-block-productfeatures">
        {|if $characteristicsArray|}
            <table>
                <thead>
                    <tr>
                        <td>{|$translate_properties|}</td>
                        <td>{|$translate_features|}</td>
                    </tr>
                </thead>
                {|foreach from=$characteristicsArray item="e" key="index"|}
                    <tr>
                        <td>{|$index|}</td>
                        <td>
                            {|foreach from=$e item="i" key="k"|}
                                {|if $i.characteristicColor|}
                                    <div style="background-color: {|$i.characteristicColor|}; display: inline-block; width: 30px;">
                                        &nbsp;
                                    </div>
                                {|/if|}
                                {|if $k > 0|},&nbsp;{|/if|}
                                {|if $i.characteristicInfo|}
                                    <a href="{|$i.characteristicInfo.url|}" title="{|$translate_contacts_all|} {|$i.characteristicInfo.title|}">{|$i.characteristicValue|}</a>
                                {|else|}
                                    {|$i.characteristicValue|}
                                {|/if|}
                            {|/foreach|}
                        </td>
                    </tr>
                {|/foreach|}
            </table>
            {|if $characteristics_message|}
                <br />{|$characteristics_message|}
            {|/if|}
        {|else|}
            {|$characteristics|}
        {|/if|}
    </div>
{|/if|}

{|if $seriesArray|@count > 1|}
    <h2 class="js-series-block">{|$translate_model_line|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    <div class="os-block-productfeatures">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <td {|if $imageInModel|}colspan="2"{|/if|}>{|$translate_title_short|}</td>
                        <td>{|$translate_price|}</td>
                        {|foreach from=$filterNameArray item="e"|}
                            <td>{|$e|}</td>
                        {|/foreach|}
                    </tr>
                </thead>

                {|foreach from=$seriesArray item="e"|}
                    <tr>
                        {|if $imageInModel|}
                            <td>
                                {|if $e.image|}
                                    <img src="{|$e.image|}" style="max-height: 100px; max-width: 100px;">
                                {|/if|}
                            </td>
                        {|/if|}
                        <td {|if $imageInModel|}class="mark"{|/if|}>
                            <a href="{|$e.url|}">{|$e.name|}</a>
                        </td>
                        <td class="nowrap">
                            {|if $e.price == 0|}
                                <div class="os-price-specify element-inline" itemprop="priceSpecification">{|$translate_specify_a_price|}</div>
                            {|else|}
                                {|if !$e.avail|}
                                    <div class="os-price-unavailable element-inline">
                                        <span id="priceSpan">{|$e.price|}</span> {|$currency|}
                                    </div>
                                {|else|}
                                    <div class="os-price-available element-inline">
                                        <span id="priceSpan">{|$e.price|}</span> {|$currency|}
                                    </div>
                                {|/if|}
                            {|/if|}

                            <div class="avail">
                                {|if $e.avail|}
                                    {|if $e.availtext|}
                                        <div class="os-available">{|$e.availtext|}</div>
                                    {|else|}
                                        <div class="os-available">в наличии</div>
                                    {|/if|}
                                {|else|}
                                    {|if $e.availtext|}
                                        <div class="os-unavailable">{|$e.availtext|}</div>
                                    {|else|}
                                        <div class="os-unavailable">нет в наличии</div>
                                    {|/if|}
                                {|/if|}
                            </div>
                        </td>
                        {|foreach from=$filterNameArray item="filterName" key="filterID"|}
                            <td>{|$filterValueArray[$filterID][$e.id]|}</td>
                        {|/foreach|}
                    </tr>
                {|/foreach|}
            </table>
        </div>
    </div>
{|/if|}

{|if $commentIntegration|}
    <h2 class="js-comments-block">{|$translate_many_comments|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    <div class="os-integrated-comment">{|$commentIntegration|}</div>
{|/if|}

<div class="os-feedback-list">
    <h2 class="js-feedback-block">{|$translate_comments|} {|if $seoh1|} {|$seoh1|} {|else|} {|$name|} {|/if|}</h2>
    {|if $commentsArray|}
        {|foreach from=$commentsArray item="e"|}
            <div class="element" itemscope itemtype="http://schema.org/Review">
                {|if !$e.rating == '0'|}
                    <div class="os-block-rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <div class="inner" style="width: {|$e.rating*20|}%;">
                            <meta itemprop="worstRating" content = "0"/>
                            <em itemprop="ratingValue">{|$e.rating|}</em>
                            <em itemprop="bestRating">5</em>
                        </div>
                    </div>
                {|/if|}

                <span itemprop="reviewBody">{|$e.content|}</span><br />

                {|if $e.plus|}
                    <strong class="good-side">{|$translate_plus|}:</strong> {|$e.plus|}<br />
                {|/if|}

                {|if $e.minus|}
                    <strong class="bad-side">{|$translate_minus|}:</strong> {|$e.minus|}<br />
                {|/if|}

                {|if $e.imagecrop|}
                    <a href="{|$e.image|}" class="colorbox"><img src="{|$e.imagecrop|}"></a>
                    <br />
                {|/if|}
                {|if $e.answer|}
                    <div class="adminanswer">
                        <br />
                        <strong>{|$translate_answer_administration|}:</strong>
                        <br />
                        {|$e.answer|}
                    </div>
                {|/if|}
                <div class="info">
                    <span itemprop="datePublished" content="{|$e.datetime|}">{|$e.datetime|}</span>
                    <span itemprop="author">
                       {|$translate_from_small|} {|$e.name|}
                    </span>
                    {|$translate_o|} <span itemprop="itemReviewed">
                        {|if $e.shopgb|}
                            {|$storeTitle|}
                        {|else|}
                            {|$name|}
                        {|/if|}
                    </span>
                    
                </div>
            </div>
        {|/foreach|}
        <br />
    {|else|}
        <div class="element">
            <strong style="color:#808080">{|$translate_nocomments_message|}</strong>
        </div>
        <br />
    {|/if|}
    
    <a href="javascript: void(0);" class="os-submit" onclick="popupOpen('.js-popup-comment-block');">{|$translate_reviews_of_the_store_add_simple|}</a>

    {|if $allowcomment|}
        <div class="os-block-popup js-popup-comment-block" style="display: none;">
            <div class="dark" onclick="popupClose('.js-popup-comment-block');"></div>
            <div class="block-popup">
                <div class="head">
                    <a href="javascript: void(0);" class="close" onclick="popupClose('.js-popup-comment-block');">&nbsp;</a>
                    {|$translate_write_a_review|}
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="body">
                        <table>
                            <tr>
                                <td class="vtop">{|$translate_review_big|}<span class="important">*</span>:</td>
                                <td><textarea class="js-required" name="postcomment"></textarea></td>
                            </tr>
                            <tr>
                                <td class="vtop">{|$translate_plus|}:</td>
                                <td><textarea name="postplus"></textarea></td>
                            </tr>
                            <tr>
                                <td class="vtop">{|$translate_minus|}:</td>
                                <td><textarea name="postminus"></textarea></td>
                            </tr>
                            <tr>
                                <td>{|$translate_rating|}</td>
                                <td>
                                    <div class="os-block-rating">
                                        <div class="inner"></div>
                                        <div class="rating-values js-block-rating">
                                            <span data-count="1"></span>
                                            <span data-count="2"></span>
                                            <span data-count="3"></span>
                                            <span data-count="4"></span>
                                            <span data-count="5"></span>
                                        </div>
                                        <input name="commentrating" type="hidden" value="" />
                                        <div class="text js-rating-clear"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {|$translate_upload_image|}
                                </td>
                                <td>
                                    <input type="file" name="upload_image" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="foot">
                        <input type="hidden" name="ajs" class="ajs" value="1" />
                        <input class="js-form-validation os-submit" type="submit" value="{|$translate_send|}" name="submitcomment" />
                    </div>
                </form>
            </div>
        </div>
    {|else|}
        {|$translate_rating_add_message|}
        <a href="/registration/">{|$translate_sing_up|}</a>
        {|$translate_or|}
        <a href="/client/orders/">{|$translate_authorize|}</a>.
    {|/if|}
</div>

{|if $productnewsArray|}
    <h2 class="js-block-news">{|$translate_news_simple|}</h2>
    <div class="os-block-news">
        {|foreach from=$productnewsArray item="e"|}
            <div class="element">
                <a href="{|$e.url|}">{|$e.name|}</a>
                <span>{|$e.date|}</span>
            </div>
        {|/foreach|}
    </div>
{|/if|}

{|foreach from=$listsArray item="e"|}
    <div class="os-block-caption"><h3>{|$e.name|}</h3></div>
    {|$e.html|}
{|/foreach|}

{|if $tagArray|}
    {|$translate_also|}:
    {|foreach from=$tagArray item="e"|}
        <a href="{|$e.url|}">{|$e.name|}</a>
    {|/foreach|}
    <br />
    <br />
{|/if|}

{|$seocontent|}

{|$foundcheaper|}

{|$noticeOfAvailability|}