<div class="os-block-popup js-popup-quickorder" style="display: none;">
    <div class="dark" onclick="popupClose('.js-popup-quickorder');"></div>
    <div class="block-popup">
        <div class="head">
            <a href="javascript: void(0);" class="close" onclick="popupClose('.js-popup-quickorder');">&nbsp;</a>
            {|$translate_quick_order|}: <samp id="quickOrderProductName">{|$productName|}</samp>?
        </div>

        <form method="post">
            <div class="body">
                <table>
                    <tr>
                        <td class="vtop">{|$translate_your_name|} <span class="important">*</span>:</td>
                        <td><input class="js-required" id="qoname" type="text" name="qoname" value="{|$control_qoname|}" /></td>
                    </tr>
                    <tr>
                        <td class="vtop">{|$translate_phone|} <span class="important">*</span>:</td>
                        <td><input class="js-required js-phone-formatter" id="qophone" type="text" name="qophone" value="{|$control_qophone|}" /></td>
                    </tr>
                    <tr>
                        <td>
                            E-mail
                            {|if $requiredEmail|}
                                <span class="important">*</span>
                            {|/if|}
                            :
                        </td>
                        <td>
                            <input type="text" data-error ="{|$translate_mail_error|}" name="qoemail" value="{|$control_qoemail|}" class="js-check-email {|if $requiredEmail|}js-required{|/if|}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="foot">
                <input type="hidden" name="productid" value="{|$productID|}" />
                <input type="hidden" name="ajs" class="ajs" value="1" />
                <input type="submit" name="qosubmit" value="{|$translate_ordering|}" class="os-submit js-form-validation" />
            </div>
        </form>
    </div>
</div>