{|if not $ikShopID|}
    <div class="os-message-error">
        {|$translate_please_first_configure_your_store_integration|} InterKassa.com.<br />
        {|$translate_admin_settings_integration|}
    </div>
{|else|}

    {|if $orderID and $orderSum|}
        <div class="os-message-success">
            <div class="caption">{|$translate_payment_order|} #{|$orderID|}</div>
            <strong>{|$translate_amount_to_be_paid|}: {|$orderSum|} {|$orderCurrency|}</strong>
            <br />
            <br />

            <form name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
                <input type="hidden" name="ik_co_id" value="{|$ikShopID|}" />
                <input type="hidden" name="ik_pm_no" value="{|$orderID|}" />
                <input type="hidden" name="ik_am" value="{|$orderSum|}" />
                <input type="hidden" name="ik_cur" value="{|$orderCurrencySystem|}" />
                <input type="hidden" name="ik_desc" value="Оплатить заказ #{|$orderID|}" />
                <input type="hidden" name="ik_ia_u" value="{|$interactionUrl|}" />
                <input type="submit" value="{|$translate_pay_via_service|} InterKassa.com">
            </form>
        </div>
    {|/if|}
    {|*|}
        {|if $message == 'success'|}
            <div class="os-message-success">
                {|$translate_thank_you_payment_was_successfully_received|}
                {|$translate_in_the_near_future|}
            </div>

            {|if $downloadArray|}
                <div class="os-message-success">
                    {|$translate_download_links_of_items_purchased|}:<br />
                    <br />

                    {|foreach from=$downloadArray item="e"|}
                        {|$e.name|} - <a href="{|$e.url|}">{|$e.url|}</a><br />
                    {|/foreach|}

                    <br />
                    <br />

                    {|$translate_thanks|}!
                </div>
            {|/if|}
        {|/if|}

        {|if $message == 'fail'|}
            <div class="os-message-error">
                {|$translate_unfortunately_we_did_not_receive_your_payment|}.
                {|$translate_please_contact_us|}.
            </div>
        {|/if|}
    {|*|}
{|/if|}