{|if $subcategoriesArray|}
    <div class="def-product-list">
        <ul class="def-subcat-list small-block-grid-2 medium-block-grid-3 large-block-grid-3 xlarge-block-grid-4">
            {|foreach from=$subcategoriesArray item="e"|}
                <li>
                    <div class="def-subcat-element">
                        <div class="head">{|$e.name|}</div>
                        <div class="body">
                            <div class="image">
                                {|if $e.image|}
                                    <a href="{|$e.url|}"><img src="{|$e.image|}" alt="{|$e.name|escape|}" title="{|$e.name|escape|}" /></a>
                                {|else|}
                                    <a href="{|$e.url|}"><img src="/media/shop/stub.jpg" alt="{|$e.name|escape|}" title="{|$e.name|escape|}" /></a>
                                {|/if|}
                            </div>

                            <div class="list">
                                {|foreach from=$e.childsArray item="s"|}
                                    <a href="{|$s.url|}" >{|$s.name|}</a>{|if $s.productcount|}<span class="count">({|$s.productcount|})</span>{|/if|}<br />
                                {|/foreach|}
                                <a href="{|$e.url|}">{|$translate_all|} {|$e.name|}</a>{|if $e.productcount|}<span class="count">({|$e.productcount|})</span>{|/if|}<br />
                                {|if $e.shortdesc|}{|$e.shortdesc|}{|/if|}
                            </div>
                        </div>
                    </div>
                </li>
            {|/foreach|}
        </ul>
    </div>
{|else|}
    <div class="def-message-error">
        <div class="caption">{|$translate_noproducts_message|}.</div>
        {|$translate_managers_will_help|}. <br /><br />
        {|if $phone1|}
            {|$phone1|}&nbsp;&nbsp;{|$phone2|} <br />
        {|/if|}
        {|if $phone3|}
            {|$phone3|}&nbsp;&nbsp;{|$phone4|} <br /><br />
        {|else|}
            <br />
        {|/if|}
        <a class="os-link-dashed" href="javascript:void(0);" onclick="popupOpen('.js-popup-mail-block');">{|$translate_what_you_need|}</a><br />
    </div>
{|/if|}