<div class="def-block-crumbs">
    <div class="item def-icon-home">
        <a href="/">{|$translate_main|}</a>
    </div>
    <div class="item def-icon-angle-right">
        {|$translate_my_basket|}
    </div>
</div>

<h1>{|$translate_my_basket|}</h1>

<form method="post" id="id-basket" enctype="multipart/form-data">
    {|if not $basketArray|}
        <div class="def-message-error">
            <div class="caption">{|$translate_basket_is_empty|}</div>
            <a href="/">{|$translate_empty_basket|}</a>.
        </div>
    {|else|}
        <div class="def-basket-page">
            <table class="def-table">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="h-name">{|$translate_product|}</td>
                        <td class="ta-center">{|$translate_price|}</td>
                        <td class="ta-center">{|$translate_number|}</td>
                        <td class="ta-center">{|$translate_total|}</td>
                    </tr>
                </thead>
                {|foreach from=$basketArray item="set" key="setid"|}
                    {|if $setid > 0|}
                        <tr>
                            <td class="ta-center" colspan="5">
                                Набор
                            </td>
                        </tr>
                    {|/if|}
                    {|foreach from=$set item="b"|}
                        <tr>
                            <td class="ta-center">
                                <a href="{|$projecturl|}{|$b.pUrl|}" target="_blank">
                                    <img src="{|$b.image|}" alt="{|$b.name|escape|}" title="{|$b.name|escape|}" />
                                </a>
                            </td>
                            <td>
                                <div class="name"><a href="{|$projecturl|}{|$b.pUrl|}" target="_blank">{|$b.name|}</a></div>
                                {|$b.description|}
                                {|if $setid == 0|}
                                    {|if $b.optionArray|}
                                        <div class="def-options-list">
                                            {|foreach from=$b.optionArray item="e"|}
                                                <select class="js-cute-select" name="option-{|$b.id|}-{|$e.id|}">
                                                    <option  value="">{|$translate_specify|} {|$e.name|}</option>
                                                    {|foreach from=$e.valueArray item="v"|}
                                                        <option value="{|$v|escape|}" {|if $v == $e.selectedValue|} selected {|/if|}>{|$v|}</option>
                                                    {|/foreach|}
                                                </select>
                                                <br />
                                            {|/foreach|}
                                        </div>
                                    {|/if|}
                                {|/if|}
                            </td>
                            <td>
                                {|if $setid == 0|}
                                   {|if $b.price == '0.00'|}
                                       <div class="def-price-specify">{|$translate_specify_price|}.</div>
                                   {|else|}
                                       <div class="def-price-available">{|$b.price|number_format:2|} {|$b.currency|}</div>
                                   {|/if|}
                                {|/if|}
                            </td>
                            <td>
                                {|if $setid == 0|}
                                    <div class="count">
                                        <a class="delete def-icon-cancel-circled" href="{|$b.urldelete|}" title="{|$translate_delete|escape|}">&nbsp;</a>
                                        {|if !$b.coupon|}
                                            <input type="hidden" name="selproducts[]" value="{|$b.id|}" />
                                            <input onkeydown="$j('#b{|$b.id|}').attr('checked', 'checked');" type="text" name="pcount_{|$b.id|}" value="{|$b.count|}" />
                                        {|/if|}
                                    </div>
                                {|/if|}
                            </td>
                            <td>
                                {|if $setid == 0|}
                                   {|if $b.sum == '0.00'|}
                                       <div class="def-price-specify">{|$translate_specify_price|}.</div>
                                   {|else|}
                                       <div class="def-price-available">{|$b.sum|number_format:2|} {|$b.currency|}</div>
                                   {|/if|}
                                {|/if|}
                            </td>
                        </tr>
                    {|/foreach|}
                    {|if $setid > 0|}
                        <tr>
                            <td>&nbsp;</td>
                            <td class="ta-center">
                                Цена набора
                            </td>
                            <td class="ta-center">
                                <div class="def-price-specify">{|$setSumArray[$setid].one|} {|$currency|}</div>
                            </td>
                            <td>
                                <div class="count">
                                    <a class="delete def-icon-cancel-circled" href="{|$b.urldelete|}" title="{|$translate_delete|escape|}">&nbsp;</a>
                                    <input type="hidden" name="setproducts[]" value="{|$setid|}" />
                                    <input type="text" name="setcount_{|$setid|}" value="{|$setSumArray[$setid].count|}" />
                                </div>
                            </td>
                            <td class="ta-center">
                                <div class="def-price-specify">{|$setSumArray[$setid].total|} {|$currency|}</div>
                            </td>
                        </tr>
                    {|/if|}
                {|/foreach|}

                <tr class="delivery">
                    <td colspan="2">&nbsp;</td>
                    <td colspan="1">{|$translate_promocode|}:</td>
                    <td colspan="2" class="ta-right">
                        <input  type="text" name="coupon" value="{|if $couponCode|}{|$couponCode|} {|else|}{|$control_coupon|} {|/if|}" class="promo js-coupon-formatter" {|if $couponCode|}disabled{|/if|}/>
                        <span class="{|if $couponCode|}coupongood{|else|}coupon{|/if|}">
                            {|if $couponUse|}
                                {|$translate_coupon_already_use|}.
                            {|elseif $couponCodeFalse|}
                                {|$translate_invalid_code|}.
                            {|elseif $couponCode|}
                                {|$translate_code_true|}.
                            {|else|}
                                &nbsp;
                            {|/if|}
                        </span>
                    </td>
                </tr>

                {|if $discountName|}
                    <tr class="delivery">
                        <td colspan="2">&nbsp;</td>
                        <td colspan="2">
                            {|$translate_discount|}:
                            {|$discountName|}
                        </td>
                        <td>
                            <div class="os-price-available">-{|$discountSum|number_format:2|} {|$currency|}</div>
                        </td>
                    </tr>
                {|/if|}

                {|if $deliveryName|}
                    <tr class="delivery">
                        <td colspan="2">&nbsp;</td>
                        <td colspan="2">
                            {|$translate_delivery|}:
                            {|$deliveryName|}
                        </td>
                        <td>
                            <div class="os-price-available">{|$deliveryPrice|number_format:2|} {|$currency|}</div>
                        </td>
                    </tr>
                {|/if|}

                <tr class="total">
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2">
                        {|$translate_in_total|}:
                    </td>
                    <td>
                        <div class="os-price-available">{|$allSum|number_format:2|} {|$currency|}</div>
                    </td>
                </tr>
            </table>

            {|if $authorizedFail|}
                <br />
                <div class="def-message-error">
                    {|$translate_need_sign_in|} <a href="/registration/">{|$translate_sing_up|}</a>
                </div>
                <br />
            {|/if|}
            <div class="buttons">
                <input type="hidden" name="pchcount" value="{|$translate_calculate|}" />
                <a class="fl-l" href="javascript:void(0);" onclick="if(confirm('{|$translate_baket_clear_confirm|}')) document.location='{|$urlclear|}';">{|$translate_clear|}</a>

                <input class="js-refresh" type="submit" name="refresh" value="{|$translate_calculate|}" style="display: none;" />
                <a href="javascript:void(0);" onclick="$j('.js-refresh').click();">{|$translate_calculate|}</a>

                {|if $basketArray|}
                    <input class="def-submit" type="submit" name="makeOrder" value="{|$translate_basket_nextstep|} &rsaquo;" />
                {|/if|}
                <div class="clear"></div>
            </div>
        </div>
    {|/if|}

    {|if $userlevel > 1|}
        <div class="def-form-find">
            <table>
                <tr>
                    <td class="title">{|$translate_search_and_add|}:</td>
                    <td><input type="text" name="addproduct" value="" id="id-addproduct" placeholder="{|$translate_enter_search_text|}..." /></td>
                    <td style="width: 1px;"><input type="text" name="addproductcount" value="1" class="count" /></td>
                    <td style="width: 1px;"><input class="def-submit" type="submit" name="add" value="{|$translate_add|}" /></td>
                </tr>
            </table>
        </div>
    {|/if|}

    {|if $recommendedArray|}
        <div class="def-section-caption">
            <h3><strong>{|$translate_our_recomendation|}</strong></h3>
        </div>
        <div class="def-recomended-list">
            {|foreach from=$recommendedArray item="r"|}
                <div class="def-recomended-element">
                    <div class="recomended-wrap">
                        <div class="block-image">
                            <a href="{|$r.url|}"><img src="{|$r.image|}" alt="{|$r.name|}" title="{|$r.name|}"></a>
                        </div>
                        <div class="block-name">
                            <a href="{|$r.url|}" title="">{|$r.name|}</a>
                        </div>
                        <div class="clear"></div>
                        <div class="block-button">
                            <a href="{|$r.url|}" class="def-submit">{|$r.price|} {|$r.currency|}</a>
                        </div>
                    </div>
                </div>
            {|/foreach|}
        </div>
    {|/if|}

    {|if not $basketArray|}
        {|foreach from=$carouselArray item="e"|}
            <div class="def-section-caption">
                <h3><strong>{|$e.name|}</strong></h3>
            </div>
            {|$e.html|}
        {|/foreach|}

        {|if $tabsArray|}
            <div class="def-block-tabs index-plist">
                <div class="tabs-controls" id="id-tabs">
                    {|foreach from=$tabsArray item="e"|}
                        <a class="tab-item selected js-tab" href="javascript:void(0);" data-rel=".tab-{|$e.id|}">{|$e.name|}</a>
                    {|/foreach|}
                    <div class="clear"></div>
                </div>

                {|foreach from=$tabsArray item="e"|}
                    <div class="tab-{|$e.id|} tabs-content" style="display: none;">{|$e.html|}</div>
                {|/foreach|}
            </div>
        {|/if|}
    {|/if|}
</form>