.ie9 {
    .def-thumb-element .float-btn span::after {
        right: -7px;
    }
}

.ie8 {
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=search]{
        line-height: 30px;
    }

    .def-container {
        width: 1100px !important;
    }

    .def-block-basket {
        .basket-count {
            background: #000;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        }
    }

    .def-popup-block {
        .dark {
            background-color: #000;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        }
    }

    .float-btn {
        span {
            background: #000;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        }
    }

    .def-banner-bottom-wrap {
        li {
            width: 33.33%;
        }
    }

    .def-thumbs-list {
        li {
            width: 25%;
        }
    }

    .def-container {
        >ul>li {
            width: 25%;
        }
    }

    .def-subcat-list{
        >li {
            width: 33.33%;
        }
    }
}