<div class="os-crumbs">
    <a href="/">{|$translate_main|}</a>
    {|$translate_error|} 401
</div>

<div class="os-block-popup">
    <div class="dark"></div>
    <div class="block-popup">
        <div class="head">
            <a class="close" href="/"></a>
            {|$translate_error_need_authorization|}.
        </div>
        <form method="post">
            <div class="body">
                <table>
                    <tr>
                        <td>{|$translate_login_email|}:</td>
                        <td><input type="text" name="auth_login" value="{|$control_auth_login|}" /></td>
                    </tr>
                    <tr>
                        <td>{|$translate_password_small|}:</td>
                        <td><input type="password" name="auth_password" value="{|$control_auth_password|}" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="/remindpassword/">{|$translate_forgot_password|}?</a></td>
                    </tr>
                </table>
            </div>
            <div class="foot">
                <input type="submit" name="ok" value="{|$translate_sign_in|}" class="os-submit" />
            </div>
        </form>
    </div>
</div>