{|if $message == 'ok'|}
    <div class="shop-message-success">
        {|$translate_save_success|}.
    </div>
{|/if|}

{|if $message == 'oldpass'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Старый пароль не может быть пустым
    </div>
{|/if|}

{|if $message == 'newpassempty'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Новый пароль не может быть пустым
    </div>
{|/if|}

{|if $message == 'oldpass'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Старый пароль не может быть пустым
    </div>
{|/if|}

{|if $message == 'passnoteq'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Пароль в поле "Повторите новый пароль" не равен новому паролю
    </div>
{|/if|}

{|if $message == 'smallpass'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Новый пароль слишком короткий (нужен не менее 6 символов)
    </div>
{|/if|}

{|if $message == 'oldpassnotcorrect'|}
    <div class="shop-message-error">
        {|$translate_error|} <br />
        Старый пароль не верный
    </div>
{|/if|}
<h2>Изменить пароль</h2>
<br />
<form action="" method="post">
    <div class="ob-data-element" style="width: 600px">
        <div class="data-add">
            <div class="el-caption">Введите старый пароль:</div>
            <div class="el-value">
                <input type="password" name="oldpass" value="">
            </div>
        </div>
        <br />
        <div class="data-add">
            <div class="el-caption">Введите новый пароль:</div>
            <div class="el-value">
                <input type="password" name="newpass" value="">
            </div>
        </div>
        <br />
        <div class="data-add">
            <div class="el-caption">Повторите новый пароль:</div>
            <div class="el-value">
                <input type="password" name="repeatpass" value="">
            </div>
        </div>
        <br />
        <div style="text-align: right">
            <input type="hidden" name="ok" value="1">
            <input type="submit" value="Сохранить" class="ob-button button-green">
        </div>
    </div>
    

</form>