{|if $bannerArray|}
    <div class="def-block-slick-wrap dots-true js-section-slider-wrap">
        <div class="def-block-slick-slider js-section-slider">
            {|foreach from=$bannerArray item="b"|}
                <div>
                    <a href="{|$b.url|}" {|if $b.external|}rel="nofollow" target="_blank"{|/if|}>
                        <img src="{|$b.image|}" alt="" />
                    </a>
                </div>
            {|/foreach|}
        </div>

        {|if $bannerArray|@count > 1|}
            <div class="slider-prev def-icon-angle-left"></div>
            <div class="slider-next def-icon-angle-right"></div>
        {|/if|}
    </div>
{|/if|}